* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #111827;
    background-color: #fff;
    line-height: 1.5;
    font-size: 100%;
}

.container {
    width: 100%;
    min-height: 100%;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

header {
    border-bottom: 1px solid #e5e7eb;
    padding: 1.5em 1em;
    text-align: center;
}

h1 {
    font-size: 1.5em;
}

main {
    width: 100%;
    padding: 1em 0 2em;
}

.card {
    border: 1px solid #9ca3af;
    border-radius: 0.5em;
    padding: 1em;
    margin-top: 1em;
    text-align: center;
}

.action-button {
    display: block;
    width: 100%;
    padding: 0.75em 1em;
    font-size: 1em;
    font-weight: 500;
    border: 2px solid #111827;
    border-radius: 0.4em;
    background: none;
    color: #111827;
    cursor: pointer;
    font-family: inherit;
}

.action-button.stop {
    border-color: #991b1b;
    color: #991b1b;
}

.hint {
    font-size: 0.75em;
    color: #4b5563;
    margin-top: 0.5em;
}

footer {
    border-top: 1px solid #e5e7eb;
    padding: 1em;
    text-align: center;
    font-size: 0.875em;
    color: #4b5563;
}

#status {
    margin: 0;
}